ion-col {
    // border: solid black;
    // padding-bottom: 2px;
    // height: 50px
  }

.topic{
    padding-top: 0%;
    font-weight: bold;
    // padding-left: 15px;
    text-align: center;
}

.list{
    text-align:right;
    // padding-right: 5px;
}