<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar></ion-toolbar>
    <ion-list class="ion-no-padding">
      
      
        <ion-item class="ion-no-padding" *ngFor="let i of categories" (click)="go()" button>
           
          <ion-col size-xs="6" style="padding-left:5px;"><p>{{i.name}}</p></ion-col>
          <!-- <ion-col size-xs="3" class="list"><p>{{i.category}}</p></ion-col>
          <ion-col size-xs="3" class="list"><p>{{i.unit}}</p></ion-col> -->
        
        </ion-item>
          
    </ion-list>
</ion-content>
