<!-- <ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content> -->
    <!-- <ion-list>
        <ion-item class="ion-no-padding">
          
            <ion-col size-xs="6" class="topic"><p>Item</p></ion-col>
            <ion-col size-xs="3" class="topic"><p>Cost</p></ion-col>
            <ion-col size-xs="3" class="topic"><p>Qty</p></ion-col>
          </ion-item>
      
        <ion-item class="ion-no-padding" *ngFor="let i of products" (click)="go()" button>
           
          <ion-col size-xs="6" style="padding-left:5px;"><p>{{i.product_name}}</p></ion-col>
          <ion-col size-xs="3" class="list"><p>{{i.category}}</p></ion-col>
          <ion-col size-xs="3" class="list"><p>{{i.unit}}</p></ion-col>
        
        </ion-item>
          
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addGoods()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
<!-- </ion-content> -->
